Flask~=3.1.0
Flask-APScheduler~=1.12.4
APScheduler==3.10.1
Flask-Migrate~=2.5.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy~=2.0.40
werkzeug==2.0.3
pydantic~=2.11.3
flask_cors
pymediainfo~=7.0.1
imageio
uiautomation>=2
requests~=2.32.3
oss2~=2.19.1
python-dotenv~=1.0.1
colorlog~=6.9.0
flask
gunicorn
pywin32
pyautogui~=0.9.54
pillow~=11.1.0
flask-cors~=4.0.1
setuptools~=75.8.0
pymysql