Flask==2.0.0
Flask-APScheduler==1.10.1
APScheduler==3.10.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.49
werkzeug==2.0.3
pydantic
pymediainfo
imageio
uiautomation>=2
requests
oss2
python-dotenv
colorlog
flask
gunicorn
pywin32
pyautogui
flask_cors
pymysql